<%= stylesheet_link_tag "top.css" %>

<div class="context">
    <h1>Code Start</h1>

    <%= link_to "ログイン", new_user_session_path, class: "login-link" %>
    <%= link_to "新規登録", new_user_registration_path, class: "signup-link" %>
</div>
    
<div class="area" >
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
</div >
