body {
    margin: 0;
    font-family: 'Exo', sans-serif; 
}

#splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4e54c8;
    z-index: 1000;
}

#splash-screen h1 {
    font-size: 3em;
    color: #ffffff;
    opacity: 1;
    transition: opacity 3s ease;
}

#main-content {
    opacity: 0;
    background-color: #4e54c8;
    transition: opacity 3s ease;
    height: 100%;
    width: 100%;
    position: fixed; /* 画面に固定 */
    overflow: hidden; /* スクロールを無効化 */
}

.hidden {
    display: none;
}

.btn-area {
    display: flex; /* フレックスボックスを利用 */
    flex-direction: row; /* 要素を横方向に並べる */
    align-items: center; /* 垂直方向の中央揃え */
    justify-content: center; /* 水平方向の中央揃え */
    height: 100vh; /* 画面全体の高さを占める */
    gap: 20px; /* ボタン間の余白 */
}

.login-link {
    margin-right: 10%;
}

.login-link, .signup-link {
    font-size: 1.2em;
    color: #ffffff;
    margin: 20px;
    text-decoration: none;
    opacity: 0;
    /* 
        opacityを設定してデフォルトで透明にすると要素が他の要素の下に入ってしまい、表示されていてもクリックできない状況があるため、
        先頭に持ってくることで触れるようにする
    */
    z-index: 1; 
    transition: opacity 3s ease, background-color 0.3s ease; /* 透過の変化を3秒かけて行う */
    background-color: #8f94fb;
    border-radius: 8px;
    padding: 18px 60px;
    display: inline-block; /* ボタンとして見せるためのインラインブロック */
    text-align: center;
    cursor: pointer; /* カーソルをポインターに変更 */
}

.visible {
    opacity: 1; /* 表示状態 */
}

.login-link:hover, .signup-link:hover {
    background-color: red; /* ホバー時に背景色を赤に変更 */
}

@keyframes fadeOutText {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

/* 新規スタイル追加 */
.context {
    width: 100%;
    position: absolute;
    top: 50vh;
}

.context h1 {
    text-align: center;
    color: #fff;
    font-size: 50px;
}

.area {
    background: #4e54c8;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100%;
    height: 100vh;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}